<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="/home">AIS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      	<li><a routerLink="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a routerLink="/personal"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a routerLink="/changepassword"><span class="glyphicon glyphicon-lock"></span> Change Password</a></li>
        <li><a (click) = "logout($event)"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

							